<html>

<head>
<title> Chess Moves</title>
</head>

<body>

<h5>The chess board in the program is assumed to be named as follows</h5>
<h5>All the 8 rows are named using numbers [1-8]</h5>
<h5>All the 8 columns are named using albhabets [a-h]</h5>
<h5>The positions are named as 1a, 1b , 1c , 1d, 1e, 1f, 1g, 1h </h5>
<h5>The positions are named as 2a, 2b , 2c , 2d, 2e, 2f, 2g, 2h</h5>
<h5>-------------------------------------------------------------  </h5>
<h5>The positions are named as 8a, 8b , 8c , 8d, 8e, 8f, 8g, 8h </h5>
<h5>Let's ******** Start the game now ********</h5>
<h5>You can Select one chess piece from the following : 1. Rook. 2. Knight. 3. Bishop. 4.Queen. 5.King. 6.Pawn </h5>

<form action="/positions">
    <div class = "values">
            <label> Enter the Piece name:</label>
            <input type="text" placeholder="Piece Name" name= "piece"> <br><br>
            <label> Enter the Position:</label> 
            <input type="text" placeholder="Position" name= "position"> <br> <br>
            <button> See Available Positions</button>
            </div>
</form>
      
</body>
</html>